name: Auto YouTube Playlist

on:
  schedule:
    - cron: "0 * * * *"   # প্রতি ১ ঘন্টায় রান
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install yt-dlp
        run: pip install yt-dlp

      - name: Create cookies.txt
        run: echo "${{ secrets.COOKIES }}" > cookies.txt

      - name: Run script
        run: python script.py

      - name: Commit playlist
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add YT_playlist.m3u
          git commit -m "Auto updated playlist"
          git push
